<div class="container">
    <!-- Display student data -->

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Class</th>
      <th scope="col">Roll no</th>
      <th scope="col">Adhar no</th>
      <th scope="col">Email</th>
      <th scope="col">Address</th>
      <th scope="col">Mob_no</th>
      <th scope="col">Gender</th>
    </tr>
  </thead>
  <tbody>
   {{#each list}}
        <tr>
            <td>{{this._id}}</td>
            <td>{{this.name}}</td>
            <td>{{this.class}}</td>
            <td>{{this.roll_no}}</td>
            <td>{{this.adhar_no}}</td>
            <td>{{this.email}}</td>
            <td>{{this.address}}</td>
            <td>{{this.mob_no}}</td>
            <td>{{this.gender}}</td>
            
           
        </tr>
        {{/each}}
   
  </tbody>
</table>
</div>