<h3>{{viewTitle2}}</h3><br>


<!-- timetable all data list -->
<table class="table table-striped" id="myTable">
        <thead>
        <tr>
            <th>Id</th>
            <th>Stud_id</th>
            
            <th>Title</th>
            <th>Concern</th>
            <th>Status</th>
            <td>Update</td>
            
            
        </tr>
    </thead>

    <tbody>
        {{#each list}}
        <tr>
            <td>{{this._id}}</td>
            <td>{{this.stud_id}}</td>
            
            <td>{{this.title}}</td>
            <td>{{this.concern}}</td>
            <td>{{this.status}}</td>
            <td>
                
            </td>
            
            
            
             <td>
                <a href="/ticket/{{this._id}}"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;
               
            </td>
           
            
        </tr>
        {{/each}}
    </tbody>
</table>