<nav class="navbar navbar-light bg-light">
  <span class="navbar-brand mb-0 h1">Welcome {{name}} !</span>
  <a href="/logout" class="btn btn-sm btn-dark">LogOut</a>
</nav>
<br>



<div class="row">


  <!--- student profile-->



  <div class="col-sm-3 clrclass">
    <div class="row">
      <div class="col-sm-1 clrclass"></div>
      <div class="col-sm-7 clrclass ">
        <div class="card jumbotron" style="width: 18rem; overflow-y: scroll;scrollbar-width: thin; height: 590px;">
          <div class="card-body">

            <h5 class="card-title">--Profile--</h5><br>
            <p class="card-text"><b>Name:</b> {{name}}</p>

            <p class="card-text"><b>Email:</b> {{email}}</p>
            <p class="card-text"> <b>Class:</b> {{class}}</p>
            <p class="card-text"><b>Roll_No:</b> {{roll_no}}</p>
            <p class="card-text"> <b>Adhar_No:</b> {{adhar_no}}</p>
            <p class="card-text"><b>Address:</b> {{address}}</p>
            <p class="card-text"><b>Mobile_Number:</b> {{ mobile_number}}</p>
            <p class="card-text"><b>Gender:</b> {{gender}}</p>
            <br>
            <a href="/dshbrd/edit/{{id}}" class="btn btn-dark btn-sm btn-block">Edit</a>

          </div>
        </div>
      </div>
    </div>
  </div>





  <!---MONTHLY TEST MARK--->

  <div class="col-sm-6 clrclass">
    <div class="row">
      <div class="col-sm-12 clrclass">
        <div class="card text-center">
          <div class="card-header">
            <b>MONTHLY TEST MARK</b>
          </div>

          <div class="card-body" style="overflow-y: scroll;scrollbar-width: thin; height: 108px;">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">Test_id.</th>
                  <th scope="col">Name</th>
                  <th scope="col">Phy.</th>
                  <th scope="col">Chem.</th>
                  <th scope="col">Math.</th>
                  <th scope="col">Eng.</th>
                  <th scope="col">Hindi</th>
                </tr>
              </thead>
              <tbody>
                {{#each test}}
                <tr>
                  <th scope="row">{{this._id}}</th>
                  <td>{{this.name}}</td>
                  <td>{{this.phy}}</td>
                  <td>{{this.chem}}</td>
                  <td>{{this.math}}</td>
                  <td>{{this.eng}}</td>
                  <td>{{this.hindi}}</td>
                </tr>
                {{/each}}
              </tbody>
            </table>
          </div>



        </div>
      </div>
    </div><br>






    <!--EXAM MARKS (6 MONTH'S) -->
    <div class="row">
      <div class="col-sm-12 clrclass">
        <div class="card text-center ">
          <div class="card-header">
            <b> EXAM MARKS (6 MONTH'S)</b>
          </div>
          <div class="card-body" style="overflow-y: scroll;scrollbar-width: thin; height: 104px; ">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">Test_id.</th>
                  <th scope="col">Name</th>
                  <th scope="col">Phy.</th>
                  <th scope="col">Chem.</th>
                  <th scope="col">Math.</th>
                  <th scope="col">Eng.</th>
                  <th scope="col">Hindi</th>

                </tr>

              </thead>
              <tbody>
                {{#each exam}}
                <tr>
                  <th scope="row">{{this._id}}</th>
                  <td>{{this.name}}</td>
                  <td>{{this.phy}}</td>
                  <td>{{this.chem}}</td>
                  <td>{{this.math}}</td>
                  <td>{{this.eng}}</td>
                  <td>{{this.hindi}}</td>

                </tr>
                {{/each}}

              </tbody>




            </table>



          </div>



        </div>
      </div>
    </div>
    <br>



    <!--- Ticket sestion--->
    <div class="row">
      <div class="col-sm-12 clrclass">
        <div class="card text-center">
          <div class="card-header">
            <b>Ticket / Application sestion </b>
          </div>
          <div class="card-body" style=" overflow-y: scroll;scrollbar-width: thin; height: 178px;">
            <form method="POST" action="/dshbrd/">
              <div class="form-group card-text">
                <label for="exampleFormControlInput1"><b>Title</b></label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Title" name="title">
              </div>
              <div class="form-group  card-text">
                <label for="exampleFormControlTextarea1"><b>Discription</b></label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Concern......"
                  name="concern"></textarea>
              </div>
              <button type="submit" class="btn btn-dark">Submit</button>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>




  <!--- ATTENDENCE-->
  <div class="col-sm-3 clrclass">
    <div class="row">

      <div class="col-sm-7 clrclass ">

        <div class="card jumbotron" style="width: 18rem; overflow-y: scroll;scrollbar-width: thin; height: 590px;">
          <div class="card-body">
            <h5 class="card-title">--ATTENDENCE--</h5><br>

            <p class="card-text"><b>Monthly:</b> {{email}}</p>
            <p class="card-text"> <b>Total:</b> {{class}}</p><br>
            <h5 class="card-title">--Class Rank--</h5>
            <p class="card-text"><b>Rank:</b> {{name}}</p>
            <br>
            <h5 class="card-title">-- Remark--</h5>
            <p class="card-text"><b>Remark:</b> {{name}}</p>
            <h5 class="card-title">-- Forum--</h5>
            <a href="/discussion" class="btn btn-dark card-text">Discussion Forum</a>
            <h5 class="card-title">--CheckStatus--</h5>
            <button type="button" class="btn btn-dark card-text" data-toggle="modal" name="button" value="check_status"
              data-target="#exampleModalCenter">CheckStatus</button>
            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
              aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Ticket Status</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body" style=" overflow-y: scroll;scrollbar-width: thin; height: 300px;">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th scope="col">Ticket_Id</th>
                          <th scope="col">Title</th>
                          <th scope="col">Status</th>
                          <th scope="col">Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        {{#each tickets}}
                        <tr>
                          <th scope="row">{{this._id}}</th>
                          <td>{{this.title}}</td>
                          {{#if this.status}}
                          <td>Resolved</td>
                          {{else}}
                          <td>Progress</td>
                          {{/if}}

                          <td>
                            <form method="POST" action="/dshbrd/{{this._id}}?hemant=delete">
                              <button type="submit" class="btn btn-primary">Remove</button>
                            </form>
                          </td>
                        </tr>
                        {{/each}}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>









    <!--- TICKET STATUS-->


    <!-- <div class="row">
      <div class="col-sm-5 clrclass " >
        <div class="card jumbotron" style="width: 18rem; height:11rem; overflow-y: scroll;scrollbar-width: thin;">
         
          <a href="/discussion" class="btn btn-dark" >Discussion Forum</a><br>
          <button type="button" class="btn btn-dark" data-toggle="modal" name="button" value="check_status"
           data-target="#exampleModalCenter">CheckStatus</button>
          <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">Ticket Status</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body" style=" overflow-y: scroll;scrollbar-width: thin; height: 300px;">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col">Ticket_Id</th>
                        <th scope="col">Title</th>
                        <th scope="col">Status</th>
                        <th scope="col">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      {{#each tickets}}
                      <tr>
                        <th scope="row">{{this._id}}</th>
                        <td>{{this.title}}</td>
                        {{#if this.status}}
                         <td>Resolved</td>
                         {{else}}
                          <td>Progress</td>
                         {{/if}}
                       
                        <td>
                          <form method="POST" action="/dshbrd/{{this._id}}?hemant=delete">
                             <button type="submit" class="btn btn-primary">Remove</button>
                          </form>
                        </td>
                      </tr>
                      {{/each}}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>

















        </div>


      </div>
    </div>-->
  </div>
  <div class="container" style="overflow-y: scroll;scrollbar-width: thin; height: 104px; ">
    <h4>Attandance</h4>

 
    <table class="table table-striped" id="myTable">
      <thead>
        <tr>
          <th>Name</th>
          <th>Class</th>
          <th>Roll No</th>
          <th>Student id</th>
          <th>Jan</th>
          <th>Fab</th>
          <th>March</th>
          <th>April</th>
          <th>May</th>
          <th>June</th>
          <th>July</th>
          <th>Aug</th>
          <th>Sept</th>
          <th>Oct</th>
          <th>Nov</th>
          <th>Dec</th>

         

        </tr>
      </thead>

      <tbody>




        {{#each a}}
        <tr>
          <td>{{this.name}}</td>
          <td>{{this.class}}</td>
          <td>{{this.roll_no}}</td>
          <td>{{this.student_id}}</td>
          <td>{{this.jan}}</td>
          <td>{{this.fb}}</td>
          <td>{{this.march}}</td>
          <td>{{this.april}}</td>
          <td>{{this.may}}</td>
          <td>{{this.june}}</td>
          <td>{{this.july}}</td>
          <td>{{this.aug}}</td>
          <td>{{this.sept}}</td>
          <td>{{this.oct}}</td>
          <td>{{this.nov}}</td>
          <td>{{this.dec}}</td>



        </tr>

        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
  </tbody>
  </table>
 </div>

</div>